<!DOCTYPE html>
<html>
<head>
	<title>	Movie App </title>
	<% include head %>
</head>
<body>

	<% include navbar %>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Now Playing</h1>
			</div>
			<div class="col-sm-12">
				<!-- We have an array called parsedData which is an array that we run 'forEach' method on  -->
				<% parsedData.forEach((movie) => {%>
					<!-- <%= movie.title %> -->
					<div class="col-md-3 col-sm-4 poster">
						<!-- 'imageBaseUrl is from res.locals.imageBaseUrl' -->
						<!-- The hypertext reference below will render as 'localhost:3000/movie/<movie.id>' -->
						<a href="/movie/<%= movie.id %>"><img src="<%= imageBaseUrl + movie.poster_path %>"/></a>
					</div>
				<% })%>
			</div>
		</div>
	</div>
</body>
</html>